body {
    background: #428bca;
}

.circle {
    width: 500px;
    height: 500px;
    border: 20px solid #A0C5E4;
    border-radius: 500px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 100px;
}

table {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

div img {
    width: 150px;
    height: 150px;
}

.profile {
    width: 250px;
    height: auto;
    margin-bottom: 200px;
}

.time-table {
    width: 250px;
    height: auto;
    margin-top: 200px;
}

.calendar {
    width: 250px;
    height: auto;
    margin-top: 200px;
}

.web-mail {
    width: 250px;
    height: auto;
    float: right;
}

.notice {
    width: 250px;
    height: auto;
    float: left;
}

.profile-bg {
    background-color: #f78383;
    width: 150px;
    height: 150px;
    border-radius: 120px;
    text-align: center;
    margin: 0 auto;
    padding: 30px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.time-table-bg {
    background-color: #e8b761;
    width: 150px;
    height: 150px;
    border-radius: 120px;
    text-align: center;
    vertical-align: middle;
    margin: 0 auto;
    padding: 30px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.calendar-bg {
    background-color: #d8e087;
    width: 150px;
    height: 150px;
    border-radius: 120px;
    text-align: center;
    vertical-align: middle;
    margin: 0 auto;
    padding: 30px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.web-mail-bg {
    background-color: #8ed56f;
    width: 150px;
    height: 150px;
    border-radius: 120px;
    text-align: center;
    vertical-align: middle;
    margin: 0 auto;
    padding: 30px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.notice-bg {
    background-color: #47c89b;
    width: 150px;
    height: 150px;
    border-radius: 120px;
    text-align: center;
    vertical-align: middle;
    margin: 0 auto;
    padding: 30px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

a {
    text-decoration: none;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 20px;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}