body {
    background: #428bca;
    text-align: center;
}

.input-form {
    background-color: white;
    border-radius: 50px;
    width: 1200px;
    margin: 50px auto;
    padding: 30px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}